@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(18, 26, 32);
    position: relative;
}
main{
    background-color: white;
    width: 500px;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 5px #00000046;
    margin: auto;
    
}